/** @format */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Doodle+Shadow&family=Rubik+Maps&display=swap");

.logo-image {
  width: 100px;
  height: auto;
}

div.offcanvas-header {
  border-bottom: 2px solid;
  border-color: rgb(109, 113, 113);
}

.navbar {
  border-bottom: solid 1px;
  border-color: rgb(158, 156, 153);
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.navbar-title {
  font-size: 150%;
  font-family: "Rubik Doodle Shadow";
}

.navbar-mobile-title {
  font-size: 120%;
  font-family: "Rubik Doodle Shadow";
}

.nav-link {
  text-align: center;
  font-size: 120%;
  color: black;
}

.navbar {
  background-color: rgb(255, 255, 255);
}

.navbar-title {
  color: black;
}

nav.left-navbar {
  width: 120px;
  height: 100%;
  z-index: 1;
  top: 2;
  left: 0;
  overflow: auto;
  position: fixed;
  border-right: solid 1px;
  margin-top: 135px;
  /* background-color: rgb(211, 30, 30); */
}

.left-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: auto;
  overflow: auto;
}

.left-navbar li {
  text-align: center;
  background-color: rgb(240, 240, 12);
  overflow: auto;
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  /* padding-top: 100%; */
  padding-bottom: 100%;
  border-bottom: 1px solid rgb(158, 156, 153);
  border-left: 1px solid rgb(158, 156, 153);
  border-color: rgb(158, 156, 153);
}

.left-navbar li:hover {
  background-color: rgb(255, 255, 255);
}

.left-nav-icon {
  overflow: auto;
  height: auto;
  width: 40%;
  padding-top: 100%;
  color: black;
}

nav {
  display: block;
}
.home-conten-bg {
  background-image: url("../images/dog-trainer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.home-content {
  background-color: rgba(0, 0, 0, 0.104);
  height: 100%;
  width: auto;
  padding-top: 135px;
  padding-left: 120px;
}

.home-content-title {
  padding-top: 135px;
  padding-left: 120px;
  text-align: center;
  font-size: 200%;
  font-family: "Rubik Maps";
}

.home-content-p {
  margin-left: 20%;
  margin-right: 10%;
  padding-left: 120px;
  background-color: rgba(255, 255, 255, 0.701);
  color: rgb(0, 0, 0);
  padding: 5%;
  margin-bottom: 5%;
}
/* Mac 14-ch size */
@media (min-width: 1200px) {
  .navbar-mobile-title {
    font-size: 100%;
    font-family: "Rubik Doodle Shadow";
  }
}

@media (min-width: 996px) and (max-width: 1199px) {
  .navbar-title {
    font-size: 130%;
    font-family: "Rubik Doodle Shadow";
  }
  .navbar-mobile-title {
    font-size: 80%;
    font-family: "Rubik Doodle Shadow";
  }
}

@media (min-width: 768px) and (max-width: 995px) {
  .navbar-title {
    font-size: 130%;
    font-family: "Rubik Doodle Shadow";
  }
  .navbar-mobile-title {
    font-size: 100%;
    font-family: "Rubik Doodle Shadow";
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar-title {
    font-size: 130%;
    font-family: "Rubik Doodle Shadow";
  }
  .navbar-mobile-title {
    font-size: 90%;
    font-family: "Rubik Doodle Shadow";
  }
  .nav-link:hover {
    border: 5px solid;
    border-color: rgb(134, 135, 130);
    font-size: 150%;
    transition: 0.8s;
  }
}

@media (min-width: 52px) and (max-width: 575px) {
  .navbar-title {
    font-size: 120%;
    font-family: "Rubik Doodle Shadow";
  }
  .navbar-mobile-title {
    font-size: 100%;
    font-family: "Rubik Doodle Shadow";
  }
  .nav-link:hover {
    border: 5px solid;
    border-color: rgb(134, 135, 130);
    font-size: 150%;
    transition: 0.8s;
  }
}
